<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
<center><h1>My Calculator</h1></center><br><br>

<form method="post">
    <div>
        <center>
            First Number: <input type="text" name="fnum" placeholder="Enter 1st Number" required><br><br>
            Second Number: <input type="text" name="snum" placeholder="Enter 2nd Number" required><br><br>
                Option : <select name="calc">
                 <option value="0">-------Select----></option>
                 <option value="1">Sum</option>
                 <option value="2">Subtraction</option>
                 <option value="3">Multiply</option>
                 <option value="4">Division</option>
        </select><br><br>
            <input type="submit"><br><br>

        </center>
    </div>
    {{resp}}<br><br>
</form>
</body>
</html>
